:root {
    --grad: linear-gradient(to right, #ff6b08, #cf23cf);
}
/* TYPOGRAPHY */

@font-face {
    font-family: "neue machina regular";
    src: url(./Assets/PPNeueMachina-PlainRegular.otf);

    font-family: "mori";
    src: url(./Assets/PPMori-Regular.otf);
}

/* TYPOGRAPHY END */

/* SCREEN ADJUSTMENTS */

@media (max-width: 1024px) {
    .nav-links {
        display: none;
    }
}

/* SCREEN ADJUSTMENTS END */

.overflow-x-hidden {
    overflow-x: hidden;
}

/* NAVIGATION */

nav {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: .1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 1.5rem;
}

#nav-name {
    font-size: 2.3rem;
    margin-right: auto; /* This will push the element to the left */
    margin-left: -10em; /* Adjust this value to move it closer to the PNG */
}

nav a {
    color: #333;
    text-decoration: none;
    margin-right: 1.5em;
    font-size: 2rem;
    line-height: 40%;
    cursor: pointer;
}

nav a:hover {
    font-style: italic;
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: var(--grad);
}

.only-bottom {
    border-top: none;
    border-left: none;
    border-right: none;
}

/* NAVIGATION END */

body {
    font-family: "mori";
    margin: 0;
    padding: 0;
    background-color: #333333;
}

.huge-text {
    font-size: 1500%;
    font-weight: bold;
    background: var(--grad);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    height: 100vh;
    text-align: center;
    padding-top: 2em; /* Add padding to move the text down slightly */
}